apiVersion: autoscaling/v1
kind: HorizontalPodAutoscaler
metadata:
  name: delivery-gateway-api-hpa
  namespace: easy-shopping
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: delivery-gateway-api-deployment
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 60
